html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

.card {
    background-color: black;
    border: 5px solid black;
    border-radius: 35px;
}

.card img{
    border-radius: 35px;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 4/3;
  }

.card figcaption{
    color: yellow;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: repeat(1, 1fr);
    gap: 10px;
}

@media screen and (min-width: 772px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(1, 1fr);
    }
    .card {
        border-radius: 45%;
    }
    .card img {
        aspect-ratio: 1;
        border-radius: 50%;
    }
    .grid-container > .card:last-child{
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(1, 1fr);
    }
    .card {
        border-radius: 0%;
    }
    .card img {
        aspect-ratio: 4/3;
        border-radius: 0%;
    }
    .grid-container > .card:nth-child(3n) {
        grid-column: span 2;
        grid-row: span 1;
    }
    
}

@media (prefers-reduced-motion: reduce) {
    html {
    scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffff66;
    }
    .card {
        background-color: #222;
        border-color: black;
    }
    .card figcaption {
        color: #ffff66;
    }

}